div{
    
    background-image: url(image2.jpg);       
    background-attachment: fixed;
    color:wheat
}

.navbar-style{
    background-color:none;
    font-weight: 700;
    
}




.image{
    
    height: 250px;
    width: 250px;
    
}

.intro{
    height:10vh;
}


.footer{
    text-align: center;
    
    padding: 100px;
    background-color:none;
    margin-top: 400px;
    color:wheat;
}



.header-contact{
    text-align: center;
    font-style: bold;
    font-size: 40px;
    color: lightseagreen;
    border-style: ridge;
}
.margin{
    border-style:double;
    
}
.container{
    padding:0;
    margin-top: 0;
    margin: 0px;
    font-size: 20px;
    
    
}
.contact{
    
    font-size: 15px;
    margin: 5px;

}


.btn{
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    background-color:lightseagreen;
    
}